 html, body { background: #e5e5e5; height: 100%; }

      nav { 
          height: 250px;
          background-size: cover;
          background-position: center; 
        }

        .nav-top {
        height: 80px;
        padding-left: 270px;
        font-size: 1.6rem;
        font-weight: 300;
        position: relative;
        
        
    }

      h1, h2, h3, h4, h5, h6 { 
          font-weight: 300; 
      }

      main { 
          margin-bottom: -150px; 
      }

      main .container {
          position: relative; top: -200px;
      }

      .card-title {
          font-size: 36px;
      }

      .card .card-action {
          border-top: none;
          padding-top: 10px;
      }

      .card a {
          color: #1e88e5;
      }

      .modal {
          background-color: #fff
      }

      .modal .modal-footer {
          background-color: #fff
      }

      .tabs .indicator {
          background-color: #333;
      }

      .tabs li.tab a {
          color: #333;
      }

      .tabs li.tab a:hover  {
          color: #555;
      }

      .hljs-string,
      .hljs-keyword,
      .hljs-tag .hljs-title,
      .hljs-attribute,
      .hljs-value {
          font-weight: 300; 
      }

      .hljs-tag {
          background: transparent;
      }

      @media only screen and (max-width : 600px) {
          .container.expand-on-small-only {
              width: 100% !important;
              padding: 0 0.8rem  !important;
          }
      }