/**
File : style.css
Content : Custome css
Author : V.maniya 
**/

.custom-input
{
    float: left;
    width: 87%;
}
.removeoption
{
    padding: 9px;
    float: left;
    display: table;
    width: 5%;
    height: 32px;
}
.custome-ans
{
    float: left;
    display: table;
    width: 5%;
    height: 32px;
}
.custome-ans input[type=radio].px+.lbl:after
{
    background: #31A119 !important;
}
.custome-ans input.px:focus+.lbl:before,.custome-ans input.px+.lbl:hover:before
{
    border-color: #31A119 !important;
}
#font-awesome-icons [class*="col-"] {
					padding-bottom: 8px;
					padding-top: 8px;
}
#font-awesome-icons [class*="col-"]:hover {
	color: #000 !important;
}
#font-awesome-icons .fa {
	font-size: 14px;
	width: 20px;
	text-align: center;
}
#font-awesome-icons h4 {
	font-weight: 300;
	margin-bottom: 25px;
}
.choose_wrapper
{
      height: 350px;
  overflow-y: scroll;
  border: 2px solid #ddd;
  padding: 15px;
}
.active_tupple, .active_cell td
{
  background-color: #A6E292 !important;
}
.customelable
{
  padding-top: 7px;
}
.livestatus
{
      color: #476707;
  font-weight: bold;
}
input[type="button"]:disabled,
input[type="submit"]:disabled,
input[type="reset"]:disabled,
.disabled
{

    cursor: not-allowed;
}
.btnedit{
float: left;
  margin-right: 10px;
}
.btndel
{
    float: left;
}
.action_td .btn
{
    float: left;
  margin: 2px 2px;
}
.jquery-select-subtype
{
      min-width: 115px;
}