/**
File : style.css
Content : Custome css
Author : V.maniya 
**/

.custom-input
{
    float: left;
    width: 87%;
}
.removeoption
{
    padding: 9px;
    float: left;
    display: table;
    width: 5%;
    height: 32px;
}
.custome-ans
{
    float: left;
    display: table;
    width: 5%;
    height: 32px;
}
.custome-ans input[type=radio].px+.lbl:after
{
    background: #31A119 !important;
}
.custome-ans input.px:focus+.lbl:before,.custome-ans input.px+.lbl:hover:before
{
    border-color: #31A119 !important;
}