/**
File : style.css
Content : Custome css
Author : V.maniya 
**/

.custom-input
{
    float: left;
    width: 87%;
}
.removeoption
{
    padding: 9px;
    float: left;
    display: table;
    width: 5%;
    height: 32px;
}
.custome-ans
{
    float: left;
    display: table;
    width: 5%;
    height: 32px;
}
.custome-ans input[type=radio].px+.lbl:after
{
    background: #31A119 !important;
}
.custome-ans input.px:focus+.lbl:before,.custome-ans input.px+.lbl:hover:before
{
    border-color: #31A119 !important;
}
#font-awesome-icons [class*="col-"] {
					padding-bottom: 8px;
					padding-top: 8px;
}
#font-awesome-icons [class*="col-"]:hover {
	color: #000 !important;
}
#font-awesome-icons .fa {
	font-size: 14px;
	width: 20px;
	text-align: center;
}
#font-awesome-icons h4 {
	font-weight: 300;
	margin-bottom: 25px;
}
.choose_wrapper
{
      height: 350px;
  overflow-y: scroll;
  border: 2px solid #ddd;
  padding: 15px;
}
.active_tupple
{
  background-color: #A6E292;
}